<h1 class="title">Menu App</h1>

<div class="filters">
    <h2 class="filters__title">Filters</h2>
    <button type="button" ng-click="$ctrl.resetFilters()">Reset</button>
    <ul class="filters__list">
        <li class="filters__item">
            <label>
                By all
                <input type="text" ng-model="$ctrl.allFieldsQuery" ng-change="$ctrl.saveToLocalstorage('all', $ctrl.allFieldsQuery)" />
            </label>
        </li>
        <li class="filters__item" ng-repeat="header in $ctrl.headers">
            <label>
                By {{header}}
                <input type="text" ng-model="$ctrl.search[header]" ng-change="$ctrl.saveToLocalstorage(header, $ctrl.search[header])" />
            </label>
        </li>
    </ul>
</div>

<table class="table">
    <tr>
        <th ng-repeat="header in $ctrl.headers" class="table__th">
            <div class="th__inner">
                <span>{{header}}</span>
                <span class="table__th-label-wrapper">
                    <button ng-click="$ctrl.sortBy(header)">{{header}}</button>
                    <span
                        class="sortorder"
                        ng-show="$ctrl.orderProp === '{{header}}'"
                        ng-class="{reverse: $ctrl.reverse}"
                    ></span>
                </span>
            </div>
        </th>
    </tr>
    <tr
        class="table__row" ng-click="$ctrl.openModal(item)"
        ng-repeat="item in $ctrl.items | orderBy: $ctrl.orderProp:$ctrl.reverse | filter: $ctrl.allFieldsSearch | filter: $ctrl.search"
    >
        <td>{{item.title}}</td>
        <td>
            <img
                class="table__img"
                ng-src="{{item.image}}"
                width="{{$ctrl.imageProps.width}}"
                height="{{$ctrl.imageProps.height}}"
                alt="{{item.title}}"
            />
        </td>
        <td>{{item.rating}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>
